<h3 class="text-center">The Barracks</h3>
<div class="alert alert-primary" role="alert">
  Select an army to modify.
</div>
<table id="myDecks" class="table table-hover text-center table-border table-striped">
  <thead>
    <tr>
      <th>Army Name</th>
      <th>Number of Troop Types</th>
    </tr>
  </thead>
  <tbody>
    {{#each decks as |deck|}}
      <tr id="{{deck.id}}">
        <td>{{deck.name}}</td>
        <td>{{deck.cardCount}}</td>
        <td><button data-id="{{deck.id}}" class="btn btn-danger deleteDeck"><i class="fa fa-trash" aria-hidden="true"></i></button></td>
      </tr>
    {{/each}}
  </tbody>
</table>
<div class="row justify-content-center">
  <button id="newDeckBtn" class="btn btn-primary">Create a New Army</button>
</div>
