<div class="container-fluid" style="min-width: 400px;">
    <div class="row">
      <div class="col-12 col-sm-6">
        <div id="cardHolder" class="row" style="min-width: 200px; min-height: 200px; border: solid black 1px;">
          <span>I will hold cards</span>
        </div>
      </div>

      <div class="col-12 col-sm-6">
        <div class="row">
        <div class="btn-group col-12">
          <button type="button" class="operation btn btn-primary col-3" disabled>+</button>
          <button type="button" class="operation btn btn-primary col-3" disabled>-</button>
          <button type="button" class="operation btn btn-primary col-3" disabled>X</button>
          <button type="button" class="reset-calc btn btn-primary col-3">C</button>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="btn-group col-12">
          <button id='calc1' type="button" class="number btn btn-info col-4"></button>
          <button id='calc2' type="button" class="number btn btn-info col-4"></button>
          <button id='calc3' type="button" class="number btn btn-info col-4"></button>
        </div>
      </div>
      <div class="row">
        <div class="btn-group col-12">
          <button id='calc4' type="button" class="number btn btn-info col-4"></button>
          <button id='calc5' type="button" class="number btn btn-info col-4"></button>
          <button id='calc6' type="button" class="number btn btn-info col-4"></button>
        </div>
      </div>
      <div class="row">
        <div class="btn-group col-12">
          <button id='calc7' type="button" class="number btn btn-info col-4"></button>
          <button id='calc8' type="button" class="number btn btn-info col-4"></button>
          <button id='calc9' type="button" class="number btn btn-info col-4"></button>
        </div>
      </div>
      <br>
      <button class="btn btn-success" id="playCard">"Play Card"</button>
    </div>
  </div>
</div>
