<div class="row justify-content-center">
  <h2 class="col-12 text-center">The Keep</h2>
  <div class="row col-12 col-md-8 col-xl-6 justify-content-center">
    <div class="row col-12 justify-content-center">
      <button id="playGame" class="btn-lg btn-success m-2 col-9">Defend Your Kingdom!</button>
    </div>
    <div class="row col-12 justify-content-center">
      <button id="manageDecks" class="btn-lg btn-info m-2 col-9 col-md-4">Barracks</button>
      <button id="help" class="btn-lg btn-info m-2 col-9 col-md-4">How to Play</button>
    </div>
  </div>
</div>
