<div class="alert alert-danger" role="alert">
  <h4 class="alert-heading">Your kingdom has been ransacked and your people slain!</h4>
  <p>All those centuries of building up a kingdom were for naught. In the blink of an eye you lost everything because you couldn't combine simple numbers together. The future looks bleak, but you may yet rise up again to become a great nation.</p>
  <hr>
  <button class="btn btn-primary mr-2" id="postGamePlayAgain">Fight again</button>
  <button class="btn btn-primary" id="postGameMainMenu">Return to the Keep</button>
</div>
