<div class="alert alert-warning text-center" role="alert">
  <h4 class="alert-heading">You have not organized any armies!</h4>
  <p>Please assemble a new army below.</p>
</div>
<div class="row justify-content-center">
  <button id="newDeckBtn" class="btn-lg btn-primary">Create a New Army</button>
</div>
