<form id="newDeckForm" class="form-inline">
  <div class="form-group mr-1">
    <input type="text" placeholder="Name" name="deck[name]">
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-primary">Create New Army</button>
  </div>
</form>
<div class="alert alert-warning" role="alert">
  <h4 class="alert-heading">You have not organized any armies!</h4>
  <p>Please assemble a new army above.</p>
</div>
