<div class="alert alert-warning" role="alert">
  <h4 class="alert-heading">You have not organized any armies!</h4>
  <p>Please proceed to the barracks to organize a band of troops, or tell all your troops to join the battle.</p>
  <hr>
  <button class="btn btn-primary" id="viewDecks">To the Barracks!</button>
  <button class="btn btn-secondary" id="useRandomDeck">Everyone, to arms!</button>
</div>
