<div class="alert alert-success" role="alert">
  <h4 class="alert-heading">You've successfully defended your kingdom!</h4>
  <p>The evil invaders will bother you no more, until you start a new game. They were no match for your extreme calculating skills and great leadership ability. Surely none doubt your strength after defeating such a worthy foe.</p>
  <hr>
  <p class="mb-0">Something about starting a new game etc. Figure this out later</p>
</div>
