<div class="alert alert-success" role="alert">
  <h4 class="alert-heading">You've successfully defended your kingdom!</h4>
  <p>The evil invaders will bother you no more, until you start a new game. They were no match for your extreme calculating skills and great leadership ability. Surely none doubt your strength after defeating such a worthy foe.</p>
  <hr>
  <button class="btn btn-primary mr-2" id="postGamePlayAgain">Fight again</button>
  <button class="btn btn-primary" id="postGameMainMenu">Return to the Keep</button>
</div>
